---
http_interactions:
- request:
    method: get
    uri: https://api.shop-pro.jp/v1/shop.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - " Bearer [ACCESS_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8b8519f4bfbe051d1d0e4cffbb3b3d9c"
    body:
      encoding: UTF-8
      string: '{"shop":{"id":"PA01409388","state":"unsigned","domain_plan":"cmsp_sub_domain","contract_plan":"regular","contract_start_date":1517583600,"contract_end_date":1551279600,"contract_term":12,"contract_payment_state":"unpaid","last_login_date":1525415063,"setup_date":1515046135,"make_date":1515046135,"url":"https://curry-pizza.shop-pro.jp","open_state":"opened","mobile_open_state":"closed","login_id":"curry-pizza","name1":"","name2":"","name1_kana":"","name2_kana":"","hojin":"","hojin_kana":"","user_mail":"[MAIL_ADDRESS]","tel":"--","fax":null,"postal":"","pref_id":null,"pref_name":null,"address1":"","address2":"","title":"curry-pizza","title_short":"curry-pizza","shop_mail_1":"[MAIL_ADDRESS]","shop_mail_2":null}}'
  recorded_at: Sat, 05 May 2018 07:54:05 GMT
recorded_with: VCR 4.0.0
