---
http_interactions:
- request:
    method: get
    uri: https://api.shop-pro.jp/v1/sales.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - " Bearer [ACCESS_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a12693324841df055d381341c641b3f2"
    body:
      encoding: UTF-8
      string: '{"sales":[],"meta":{"total":0,"limit":10,"offset":0}}'
  recorded_at: Sat, 05 May 2018 11:35:11 GMT
recorded_with: VCR 4.0.0
